name: Build JOSS Paper

on:
  push:
    branches: [ main ]
    paths: [ 'paper/paper.md', 'paper/paper.bib', 'paper/uml.png' ]
  pull_request:
    branches: [ main ]
    paths: [ 'paper/paper.md', 'paper/paper.bib', 'paper/uml.png' ]
  workflow_dispatch:

jobs:
  paper:
    runs-on: ubuntu-latest
    name: Paper Draft

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@a994a876f36e25076174d9ed133e01b1f1b9fcf3
        with:
          journal: joss
          # This should be the path to the paper within your repo.
          paper-path: paper/paper.md

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: paper
          # This is the output path where Pandoc will write the compiled
          # PDF. Note, this should be the same directory as the input
          # paper.md
          path: paper/paper.pdf
